@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />
<h1 style="text-align:center;font-size:40px;color:black;font-family:'Arial Rounded MT'">Project Procurement System</h1>
<br />


<center>
    <img src="~/Content/images/Dhaly Group.png" />
</center>