@using DhaliProcurement.Helper;
@{

    var alerts = TempData.ContainsKey(Alert.TempDataKey)

    ? (List<Alert>)TempData[Alert.TempDataKey]

    : new List<Alert>();

    foreach (var alert in alerts)
    {

        var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;

        <div class="alert alert-@alert.AlertStyle @dismissableClass">
            @if (alert.Dismissable)
            {

                

            }
            @Html.Raw(alert.Message)
        </div>

    }
}
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
    $(document).ready(function () {
    setTimeout(function () {
    $(".alert").hide();
    }, 1000);
    });
    </script>*@



