@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />
<h1 style="text-align:center;font-size:40px;color:black;font-family:'Arial Rounded MT'">Nazmul & Sons M/S Steels</h1>
<br />


@*<center>
    <img src="~/Content/images/" />
</center>*@